<div class="header" [ngClass]="{ shadow: shadow() }">
    @if (returnButton()) {
        <div class="returnButton headerButton" (click)="goBack()">
            @if (this.homeService.wideScreenEnabled && this.closeDirectly()) {
                <i class="fas fa-times"></i>
            } @else {
                <i class="fas fa-caret-left"></i>
            }
        </div>
    } @else {
        <div></div>
        <!--placeholder for grid container-->
    }
    <div class="text">
        <div class="processing" [class.processing-open]="processing()">
            <i class="fas fa-spinner fa-spin"></i>
        </div>
        {{ title() }}
    </div>
    <div
        *ngIf="button()"
        class="user-button headerButton"
        [routerLink]="buttonLink()"
        (click)="linkClicked()"
    >
        <i class="fas fa-{{ buttonIcon() }}"></i>
    </div>
</div>

<div class="header-holder"></div>

<div
    class="alerts-container"
    *ngIf="showGlobalConnecting() || showGlobalDisconnected() || showThreadConnecting() || showThreadDisconnected()"
>
    <div
        class="header-alert"
        *ngIf="showGlobalConnecting()"
    >
        <div class="words">
            <i class="fas fa-spinner fa-spin"></i>
            Global Connecting...
        </div>
    </div>

    <div
        class="header-alert"
        (click)="showDisconnectedDialog()"
        *ngIf="showGlobalDisconnected()"
    >
        <div class="words">
            <i class="fas fa-cloud"></i>
            Global Disconnected
        </div>
    </div>

    <div
        class="header-alert"
        *ngIf="showThreadConnecting()"
    >
        <div class="words">
            <i class="fas fa-spinner fa-spin"></i>
            Thread Connecting...
        </div>
    </div>

    <div
        class="header-alert"
        (click)="repo()?.connect()"
        *ngIf="showThreadDisconnected()"
    >
        <div class="words">
            <i class="fas fa-cloud"></i>
            Thread Disconnected
        </div>
    </div>
</div>
